<!DOCTYPE html>
<html lang="en">
  <head>
    <title>doc.gen</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />

    <link href="./styles/style.css" rel="stylesheet" />

    <script defer src="./renderer.js"></script>
  </head>
  <body>
    <div class="select-file-block">
      <h1 class="title" id="app-title">Поместите EXCEL-файл в нужном формате</h1>
      <button class="select-button" id="select-file-button" />
    </div>
    <div id="result" class="result-block" />
  </body>
</html>
