<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello World!</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />

    <link href="./style.css" rel="stylesheet" />

    <script defer src="../renderer.js"></script>
  </head>
  <body>
    <h1 class="title" id="app-title">Поместите Excel файл в нужном формате</h1>
    <button class="button" id="select-file-button">Выбрать excel документ</button>
  </body>
</html>
