@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Bold.ttf) format("truetype");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 40px;
  overflow: hidden;
}

.select-file-block {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-top: 80px;
  margin-bottom: 32px;
}

.select-file-block .title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
}

.result-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result-block .result-list {
  padding: 10px 0;
  max-height: 200px;
  overflow-y: auto;
}

.result-list button {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 8px 56px 8px 40px;
  text-align: left;
  border: none;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.result-list button:nth-of-type(even) {
  background-color: #f5f4f8;
}

.result-list button::before {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  content: "";
  background: url(./note.svg) center no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.result-list button::after {
  position: absolute;
  right: 10px;
  content: ".docx";
  top: 50%;
  transform: translateY(-50%);
}

.result-list button:hover {
  background-color: #5757574f;
}

.select-button {
  height: 40px;
  width: 40px;

  padding: 10px;

  border: 1px solid rgba(13, 5, 37, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  background: url(./link.svg) no-repeat center center #ffffff;
  color: #3b3b3b;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  appearance: none;
  outline: none;
  text-decoration: none;
  will-change: transform;

  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.select-button:disabled {
  pointer-events: none;
}

.select-button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.select-button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* SCROLL-BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
